#foot{
    color: white;
    background-color: black;
    height: 185vh;
    /* border: 2px solid yellow; */

}
#foot span{
    font-family:  UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin-left: 100px;
        /* border: 2px solid yellow;  */
        position: absolute;
        top: 537vh;
}
#foot p{
    font-size: 17px;
    position: absolute;
    top: 549vh;
    margin-left: 100px;
}
#flexx{
    /* border: 2px solid yellow; */
    display: flex;
   justify-content: space-around;
   width: 85%;
}
#flexx ol{
    list-style: none;
    /* border: 3px solid green; */
    margin-top: 290px;
    margin-left: 20px;
}
#flexx ol li:hover{
    color: #AFAFAF;
    cursor: pointer;
}
#flexx ol li:first-child:hover{
    background-color: none;
   
}
#ff2{
    /* border: 2px solid yellow; */
    height: 200px;
    /* width: 20px; */
}
#ff2 ol{
    /* border: 2px solid white; */
    height: 100px;
    /* width: 90%; */
    margin: auto;
    /* margin-top: 100px; */
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 35%;
    position: absolute;
    left: 100px;
    
}
#ff2 ol li i{
    font-size: 1.2em;
}
#ff2 ol li i:hover{
    
    background-color:#282828;
    padding: 10px 10px;
    border-radius: 12px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    transition: background-color 0.3s ease, padding 0.3s ease; */
}
#ff2 div{
    /* border: 2px solid blue; */
    height: 100px;
    margin-top: 100px;
    width: 15%;
    margin-left: 1000px;
}
#ff2 div ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
   
}
#ff2 div ul li {
    font-weight: 600;
}
#ff3 {
    height: 250px;
    /* border: 2px solid yellow; */
    position: absolute;
    top: 667vh;
}
#ff3 ol{
    /* height: inherit; */
    height: 100px;
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 70%;
    margin-left: 100px;
    gap: 7%;
    /* border: 2px solid yellow; */
    padding-top: 50px;
    
}
#ff3 ol li img {
    height: 50px;
    width: 130px;
}
/* #last{ */
    /* border:2px solid green; */
    /* height: 155px; */
/*     
} */
#lastleft p{
    position: absolute;
    top: 694vh;
    color: #AFAFAF;
    font-size: 12px;
}
#lastright{
    /* border: 2px solid green; */
    position: absolute;
    left: 1050px;
    width: 15%;
    top: 694vh;

} 
#lastright ol{
    display: flex;
    justify-content: space-between;
    list-style: none;
      color:#AFAFAF;
      font-size: 12px;
}